<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadMe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReadMe.Properties.Settings>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="FromName" serializeAs="String">
                <value />
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>Scanned Document Transformed by ReadMe</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value>Open all attatchments. Do not reply to this email address.</value>
            </setting>
            <setting name="HTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>5000</value>
            </setting>
        </ReadMe.Properties.Settings>
    </userSettings>
</configuration>